.navContainer {
    display: flex;
    list-style-type: none;
    font-family: 'Staatliches';
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    gap: 4rem;
    margin: 1rem;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}

a {
    text-decoration: none;
    color: rgba(0, 54, 140, 0.839);
    padding-left: 0.8rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem;
}

.right a:hover {
    background-color: rgba(0, 96, 251, 0.108);
}

.right a:focus {
    background-color: rgba(0, 96, 251, 0.588);
}

.nameHomeLink {
    font-family: 'Staatliches', sans-serif;
    font-size: 3rem;
    color: rgba(0, 90, 235, 0.752);
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.homeNavContainer {
    display: flex;
    list-style-type: none;
    font-family: 'Staatliches';
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    gap: 4rem;
    margin: 1rem;
    justify-content: flex-end;
}