:root{
    --primary-font-family: "Mansalva", "sans-serif";
    --secondary-font-family: "Archivo Narrow", "serif";

    --primary-color: #FFFBF8;
    --primary-hover: #E6E1E1;
    --primary-click: #CACACA;

    --secondary-color: #C6DCF4;
    --secondary-hover: #9CC2EC;
    --secondary-click: #82AFE2;

    --accent-color: #9BC733;
    --icon-color: #6B9ED9;

    --text-color-dark: #3F3F3F;
    --text-color-medium: #7A7C7D;
    --text-color-light: #FCFDFF;
}