@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Mansalva&display=swap');


:root{
    --handwritten-font: "Mansalva", "sans-serif";
    --formal-font: "Archivo Narrow", "serif";

    --primary-color: #FFFBF8;
    --primary-hover: #E6E1E1;
    --primary-click: #CACACA;

    --secondary-color: #C6DCF4;
    --secondary-hover: #9CC2EC;
    --secondary-click: #82AFE2;

    --accent-color-green: #9BC733;
    --accent-color-blue: #6B9ED9;

    --text-color-dark: #3F3F3F;
    --text-color-medium: #7A7C7D;
    --text-color-light: #FCFDFF;
}
